<?xml version="1.0" encoding="UTF-8"?>
<fmi-ls:fmiLayeredStandardManifest
  xmlns:fmi-ls="http://fmi-standard.org/fmi-ls-manifest"
  fmi-ls:fmi-ls-name="org.modelica.fmi-ls-wasm"
  fmi-ls:fmi-ls-version="0.1.0"
  fmi-ls:fmi-ls-description="FMI Layered Standard for WebAssembly"/>
