.vscode/**
.vscode-test/**
tests/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
eslint.config.*
.eslintrc*
!out
!out/**
!media
!media/**
**/*.ts
!out/**/*.js
!bin
!bin/**
**/*.map
node_modules/**
!bin/**
*.vsix
package-lock.json
