{%- macro attr(name, value) -%}{{ " " }}{{ name }}="{{ value | xml_escape }}"{%- endmacro -%}
<?xml version="1.0" encoding="UTF-8"?>
<Content xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schemas/efmiContainerManifest.xsd" xsdVersion="0.11.0" efmiVersion="1.0.0"{{ attr("id", "{" ~ artifact.identities.content ~ "}") }}{{ attr("name", algorithm_code.block_name) }}{{ attr("generationDateAndTime", artifact.generated_at) }}{{ attr("generationTool", artifact.generation_tool) }}>
  <ModelRepresentation name="AlgorithmCode" kind="AlgorithmCode" manifest="manifest.xml"{{ attr("checksum", artifact.checksums.ac_manifest_sha1) }}{{ attr("manifestRefId", "{" ~ artifact.identities.ac_manifest ~ "}") }}/>
</Content>
