class {{ model_name }}
{% for function in dae.modelica.functions %}
  {{ function | indent(2) }}
{% endfor %}
{% for declaration in dae.modelica.declarations %}
  {{ declaration }}
{% endfor %}
{% if dae.modelica.equations | length > 0 %}
equation
{% for equation in dae.modelica.equations %}
  {{ equation | indent(2) }}
{% endfor %}
{% endif %}
{% if dae.modelica.initial_equations | length > 0 %}
initial equation
{% for equation in dae.modelica.initial_equations %}
  {{ equation | indent(2) }}
{% endfor %}
{% endif %}
end {{ model_name }};
