{%- macro attr(name, value) -%}{{ " " }}{{ name }}="{{ value | xml_escape }}"{%- endmacro -%}
{%- macro type_id(kind) -%}{% if kind == "real" %}TD_F64{% elif kind == "integer" %}TD_I32{% elif kind == "boolean" %}TD_BOOL{% else %}{{ fail_closed_scalar_type }}{% endif %}{%- endmacro -%}
{%- macro function(id, name, return_id, self_id) %}
          <Function{{ attr("id", id) }}{{ attr("name", name) }}>
            <ReturnParameter{{ attr("id", return_id) }} typeDefRefId="TD_VOID"/>
            <FormalParameters>
              <FormalParameter name="self" number="0"{{ attr("id", self_id) }} typeDefRefId="TD_STATE" pointer="true"/>
            </FormalParameters>
          </Function>
{%- endmacro -%}
<?xml version="1.0" encoding="UTF-8"?>
<Manifest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../schemas/ProductionCode/efmiProductionCodeManifest.xsd" xsdVersion="0.17.0" kind="ProductionCode" efmiVersion="1.0.0"{{ attr("id", "{" ~ artifact.identities.pc_manifest ~ "}") }}{{ attr("name", algorithm_code.block_name) }}{{ attr("generationDateAndTime", artifact.generated_at) }}{{ attr("generationTool", artifact.generation_tool) }}>
  <ManifestReferences>
    <ManifestReference id="MR_AC"{{ attr("manifestRefId", "{" ~ artifact.identities.ac_manifest ~ "}") }}{{ attr("checksum", artifact.checksums.ac_manifest_sha1) }} origin="true"/>
  </ManifestReferences>
  <Files>
    <File id="F_H"{{ attr("name", model_name ~ ".h") }} path="./" needsChecksum="true"{{ attr("checksum", artifact.checksums.c_header_sha1) }} role="Code"/>
    <File id="F_C"{{ attr("name", model_name ~ ".c") }} path="./" needsChecksum="true"{{ attr("checksum", artifact.checksums.c_source_sha1) }} role="Code"/>
  </Files>
  <CodeContainer language="C" standard="C99" platform="Legacy" floatPrecision="64-bit">
    <Target>Generic</Target>
    <TargetTypes>
      <TargetType id="TT_F64" kind="efmiFloat64" codedType="double"/>
      <TargetType id="TT_I32" kind="efmiInteger32" codedType="int32_t"/>
      <TargetType id="TT_BOOL" kind="efmiBool" codedType="bool"/>
      <TargetType id="TT_VOID" kind="efmiVoid" codedType="void"/>
    </TargetTypes>
    <CodeFiles>
      <CodeFile id="CF_H" fileType="ProductionCode" codeType="HeaderFile">
        <FileReference fileRefId="F_H"/>
        <Typedefs>
          <Typedef id="TD_F64" name="double"><Alias targetTypeRefId="TT_F64"/></Typedef>
          <Typedef id="TD_I32" name="int32_t"><Alias targetTypeRefId="TT_I32"/></Typedef>
          <Typedef id="TD_BOOL" name="bool"><Alias targetTypeRefId="TT_BOOL"/></Typedef>
          <Typedef id="TD_VOID" name="void"><Alias targetTypeRefId="TT_VOID"/></Typedef>
          <Typedef id="TD_STATE"{{ attr("name", model_name ~ "State") }}>
            <Components>
{%- for variable in algorithm_code.variables %}
              <Component{{ attr("id", "CO_" ~ variable.ordinal) }}{{ attr("name", variable.name | sanitize) }}{{ attr("typeDefRefId", type_id(variable.kind)) }}
{%- if variable.dimensions|length == 0 %}/>
{%- else %}>
                <Dimensions>
{%- for size in variable.dimensions %}
                  <Dimension number="{{ loop.index0 }}" size="{{ size }}"/>
{%- endfor %}
                </Dimensions>
              </Component>
{%- endif %}
{%- endfor %}
            </Components>
          </Typedef>
        </Typedefs>
      </CodeFile>
      <CodeFile id="CF_C" fileType="ProductionCode" codeType="SourceFile">
        <FileReference fileRefId="F_C"/>
        <Includes><Include codeFileRefId="CF_H"/></Includes>
        <Functions>
{{ function("FN_STARTUP", model_name ~ "_startup", "RP_STARTUP", "FP_STARTUP_SELF") }}
{{ function("FN_RECALIBRATE", model_name ~ "_recalibrate", "RP_RECALIBRATE", "FP_RECALIBRATE_SELF") }}
{{ function("FN_DOSTEP", model_name ~ "_dostep", "RP_DOSTEP", "FP_DOSTEP_SELF") }}
        </Functions>
      </CodeFile>
    </CodeFiles>
    <LogicalData>
      <DataReferences>
{%- for variable in algorithm_code.variables %}
        <DataReference>
          <ForeignVariableReference manifestReferenceRefId="MR_AC"{{ attr("foreignRefId", "V" ~ variable.ordinal) }}/>
          <FormalParameter formalParameterRefId="FP_DOSTEP_SELF"{{ attr("componentIdentifier", variable.name | sanitize) }}/>
        </DataReference>
{%- endfor %}
      </DataReferences>
      <FunctionReferences>
        <FunctionReference><ForeignFunctionReference manifestReferenceRefId="MR_AC" foreignRefId="BM_STARTUP"/><GlobalFunction functionRefId="FN_STARTUP"/></FunctionReference>
        <FunctionReference><ForeignFunctionReference manifestReferenceRefId="MR_AC" foreignRefId="BM_RECALIBRATE"/><GlobalFunction functionRefId="FN_RECALIBRATE"/></FunctionReference>
        <FunctionReference><ForeignFunctionReference manifestReferenceRefId="MR_AC" foreignRefId="BM_DOSTEP"/><GlobalFunction functionRefId="FN_DOSTEP"/></FunctionReference>
      </FunctionReferences>
    </LogicalData>
  </CodeContainer>
</Manifest>
