<?xml version="1.0" encoding="UTF-8"?>
{%- set model_identifier = "Rumoca_" ~ (__rumoca_artifact_identity_v1_fmu | replace("-", "_")) %}
<fmiModelDescription
  fmiVersion="2.0"
  modelName="{{ model_qualified_name | xml_escape }}"
  generationTool="Rumoca"
  guid="{ {{- __rumoca_artifact_identity_v1_fmu -}} }"
  numberOfEventIndicators="0">
  <ModelExchange modelIdentifier="{{ model_identifier }}">
    <SourceFiles>
      <File name="model.c"/>
    </SourceFiles>
  </ModelExchange>
  <CoSimulation modelIdentifier="{{ model_identifier }}" canHandleVariableCommunicationStepSize="true">
    <SourceFiles>
      <File name="model.c"/>
    </SourceFiles>
  </CoSimulation>
  <UnitDefinitions>
{%- for unit in fmi.fmi2.unit_definitions %}
{%- if unit.base_unit_seconds_exponent is not none %}
    <Unit name="{{ unit.name | xml_escape }}">
      <BaseUnit s="{{ unit.base_unit_seconds_exponent }}"/>
    </Unit>
{%- else %}
    <Unit name="{{ unit.name | xml_escape }}"/>
{%- endif %}
{%- endfor %}
  </UnitDefinitions>
  <ModelVariables>
    <ScalarVariable name="time" valueReference="0" causality="independent" variability="continuous">
      <Real unit="s"/>
    </ScalarVariable>
{%- for variable in fmi.fmi2.variables %}
    <ScalarVariable name="{{ variable.name | xml_escape }}" valueReference="{{ variable.value_reference }}" causality="{{ variable.causality }}" variability="{{ variable.variability }}"{% if variable.initial is not none %} initial="{{ variable.initial }}"{% endif %}{% if variable.description %} description="{{ variable.description | xml_escape }}"{% endif %}>
      <Real{% if variable.start is not none %} start="{{ variable.start }}"{% endif %}{% if variable.minimum is not none %} min="{{ variable.minimum }}"{% endif %}{% if variable.maximum is not none %} max="{{ variable.maximum }}"{% endif %}{% if variable.nominal is not none %} nominal="{{ variable.nominal }}"{% endif %}{% if variable.unit %} unit="{{ variable.unit | xml_escape }}"{% endif %}/>
    </ScalarVariable>
{%- endfor %}
{%- for derivative in fmi.fmi2.derivatives %}
    <ScalarVariable name="{{ derivative.name | xml_escape }}" valueReference="{{ derivative.link.derivative_value_reference }}" causality="{{ derivative.causality }}" variability="{{ derivative.variability }}" initial="{{ derivative.initial }}">
      <Real derivative="{{ derivative.link.state_model_index }}"/>
    </ScalarVariable>
{%- endfor %}
  </ModelVariables>
  <ModelStructure>
{%- if fmi.fmi2.output_model_indices | length > 0 %}
    <Outputs>
{%- for model_index in fmi.fmi2.output_model_indices %}
      <Unknown index="{{ model_index }}"/>
{%- endfor %}
    </Outputs>
{%- endif %}
{%- if fmi.fmi2.derivative_model_indices | length > 0 %}
    <Derivatives>
{%- for model_index in fmi.fmi2.derivative_model_indices %}
      <Unknown index="{{ model_index }}"/>
{%- endfor %}
    </Derivatives>
{%- endif %}
{%- if fmi.fmi2.initial_unknown_model_indices | length > 0 %}
    <InitialUnknowns>
{%- for model_index in fmi.fmi2.initial_unknown_model_indices %}
      <Unknown index="{{ model_index }}"/>
{%- endfor %}
    </InitialUnknowns>
{%- endif %}
  </ModelStructure>
</fmiModelDescription>
