{%- for _func_name, function in dae.functions | items -%}
{%- if function.external -%}
{%- for directory in function.external.include_directories -%}
{{ resolve_modelica_uri(directory) }}
{% endfor -%}
{%- endif -%}
{%- endfor -%}
