<?xml version="1.0" encoding="UTF-8"?>
{%- set model_identifier = "Rumoca_" ~ (__rumoca_artifact_identity_v1_fmu | replace("-", "_")) %}
<fmiModelDescription
  fmiVersion="3.0"
  modelName="{{ model_qualified_name | xml_escape }}"
  generationTool="Rumoca"
  instantiationToken="{{ __rumoca_artifact_identity_v1_fmu }}">
  <ModelExchange modelIdentifier="{{ model_identifier }}"/>
  <CoSimulation modelIdentifier="{{ model_identifier }}" canHandleVariableCommunicationStepSize="true"/>
  <UnitDefinitions>
{%- for unit in fmi.fmi3.unit_definitions %}
{%- if unit.base_unit_seconds_exponent is not none %}
    <Unit name="{{ unit.name | xml_escape }}">
      <BaseUnit s="{{ unit.base_unit_seconds_exponent }}"/>
    </Unit>
{%- else %}
    <Unit name="{{ unit.name | xml_escape }}"/>
{%- endif %}
{%- endfor %}
  </UnitDefinitions>
  <ModelVariables>
    <Float64 name="time" valueReference="0" causality="independent" variability="continuous" unit="s"/>
{%- for variable in fmi.fmi3.variables %}
    <Float64 name="{{ variable.name | xml_escape }}" valueReference="{{ variable.value_reference }}" causality="{{ variable.causality }}" variability="{{ variable.variability }}"{% if variable.initial is not none %} initial="{{ variable.initial }}"{% endif %}{% if variable.start is not none %} start="{% for value in variable.start %}{{ value }}{{ " " if not loop.last else "" }}{% endfor %}"{% endif %}{% if variable.description %} description="{{ variable.description | xml_escape }}"{% endif %}{% if variable.minimum %} min="{% for value in variable.minimum %}{{ value }}{{ " " if not loop.last else "" }}{% endfor %}"{% endif %}{% if variable.maximum %} max="{% for value in variable.maximum %}{{ value }}{{ " " if not loop.last else "" }}{% endfor %}"{% endif %}{% if variable.nominal %} nominal="{% for value in variable.nominal %}{{ value }}{{ " " if not loop.last else "" }}{% endfor %}"{% endif %}{% if variable.unit %} unit="{{ variable.unit | xml_escape }}"{% endif %}>
{%- for extent in variable.dimensions %}
      <Dimension start="{{ extent }}"/>
{%- endfor %}
    </Float64>
{%- endfor %}
{%- for derivative in fmi.fmi3.derivatives %}
    <Float64 name="{{ derivative.name | xml_escape }}" valueReference="{{ derivative.link.derivative_value_reference }}" causality="{{ derivative.causality }}" variability="{{ derivative.variability }}" initial="{{ derivative.initial }}" derivative="{{ derivative.link.state_value_reference }}">
{%- for extent in derivative.dimensions %}
      <Dimension start="{{ extent }}"/>
{%- endfor %}
    </Float64>
{%- endfor %}
  </ModelVariables>
  <ModelStructure>
{%- for value_reference in fmi.fmi3.output_value_references %}
    <Output valueReference="{{ value_reference }}"/>
{%- endfor %}
{%- for value_reference in fmi.fmi3.derivative_value_references %}
    <ContinuousStateDerivative valueReference="{{ value_reference }}"/>
{%- endfor %}
{%- for value_reference in fmi.fmi3.initial_unknown_value_references %}
    <InitialUnknown valueReference="{{ value_reference }}"/>
{%- endfor %}
  </ModelStructure>
</fmiModelDescription>
